<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="header.css" />

    <title>Header</title>
  </head>
  <body>
    <nav class="navigation">
      <img
        class="logo"
        src="https://www.logodesign.net/images/home-logos/brand-macdoland-logo.png"
      />
      <div>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Products</a>
      </div>
      <div class="user-info">
        <p>You are signed in as: Alice</p>
        <button>Logout</button>
      </div>
    </nav>
  </body>
</html>
