.product-list-item {
  border: 2px solid lightsalmon;
  border-radius: 15px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
