<h1>All the characters!</h1>

<% @characters.each do |character| %>
  <div class="character">
    <h2>Name: <%= character.name %></h2>
    <h2>Movie: <%= character.movie %></h2>
    <%= link_to 'See all the quotes', character_quotes_path(character.id) %>
  </div>
<% end %>
